body {
  background-color: #B2DBBF;
  font-size: 5vw;
  font-family: 'Roboto';
  color: #247BA0;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  color: #70C1B3;
  text-transform: uppercase;
  background-color: #247BA0;
  font-weight: bold;
}
a:visited {
  color: #fff;
}
