html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    style
      include stylesheets/style.css
  body
    h1= message
    a(href="/on") Turn on
    a(href="/off") Turn off
    a(href="/unlock-door") Unlock door
    a(href="/lock-door") Lock door
