extends layout.pug

block content
  h1= message
  a(href="/on") Skru på ovner
  a(href="/off") Skru av ovner
  a(href="/elliot") Soverom - Elliot
  a(href="/gang") Gang
  a(href="/stue") Stue
  a(href="/vaskerom") Vaskerom
