html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    style
      include stylesheets/style.css
  body
    h1= message
    a(href="/on") Skru på ovner
    a(href="/off") Skru av ovner
    a(href="/vifte-on") Skru på vifte
    a(href="/vifte-off") Skru av vifte
    a(href="/unlock-door") Lås opp dør
    a(href="/lock-door") Lås dør
    a(href="/status") Status
