html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    style
      include stylesheets/style.css
  body
    h1= Status
    a(href="/status/11") Lås
    a(href="/gang") Gang
    a(href="/vaskerom") Vaskerom
    a(href="/") Startside
